{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% block content %}
    <div id="content-main">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="export-info">
                Send export archive for {{ company.applicant_count }} applicants of {{ company.name }} to the following
                e-mail addresses:

            <ul>
                {% for contact in company.contacts.all %}
                    <li class="export-contact-email"><a href="mailto:{{ contact.email }}" target="_blank" rel="noopener">
                        {{ contact.name }} &lt;{{ contact.email }}&gt;
                    </a></li>
                {% endfor %}
            </ul>
            </div>
            <div class="submit-row">
                <input type="submit" class="default" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
